

/* loader package */

.loader-package {
    background-color: #0E172D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    
    img {
        width:138px;
        height:144px;
    }
    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 24px;
        color: white;
    }
    
    /* loader */
    
    .loader {
      position: relative;
      margin: 0 auto;
      width: 100px;
    }
    
    .circular {
      animation: rotate 2s linear infinite;
      transform-origin: center center;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    
    .path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
      stroke-linecap: round;
    }
    
    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }
    
    @keyframes dash {
      0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
      }
      100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
      }
    }
    
    @keyframes color {
      100%,
      0% {
        stroke: red;
      }
    }
}
