.map-container{
    position: relative;
    width: 200%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    svg{
        position: absolute;
        cursor: move;
        top: -600px;
        left: -500px;
    }
    path:hover{
        fill: red!important;
        // transform: scale(1.1);
    }
}