.region{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    
    &__scroll-content{
        flex: 1;
        padding: 0px 10rem;
        overflow-y: scroll;
        &__stats{
            h2{
                font-size: 3.6rem;
            }
            .container{
                display: flex;
                justify-content: space-between;
                &>div{
                    h3{
                        text-align: center;
                        margin-bottom: 3rem;
                        span{
                            text-transform: capitalize;
                        }
                    }
                    &.total-count{
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        p{
                            width: 200px;
                            height: 200px;
                            background: url(../img/loupe_1.png) no-repeat;
                            background-size: contain;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                            font-size: 3.6rem;
                            position: relative;
                            &::after{
                                content: '';
                                background: url(../img/loupe_2.png);
                                width: 50px;
                                height: 50px;
                                position: absolute;
                                top: 86%;
                                left: 86%;
                            }
                        }
                    }
                    &.donut-chart{
                        width: 60%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }
        &__header{
            h2{
                font-size: 3.6rem;
            }
            margin-top: 5rem;
            .filter{
                margin-left: 10rem;
                display: inline-block;
                position: relative;
                margin-bottom: 2rem;
                &::after{
                    content: '';
                    width: 27px;
                    height: 27px;
                    position: absolute;
                    top: 5px;
                    right: -30px;
                    background: url(../img/back-arrow-black.png);
                    transform: scaleX(-1) rotate(-45deg);
                }
            }
            form{
                display: flex;
                justify-content: space-between;
                .category{
                    margin-right: 10px;
                    &:hover{
                        label{
                            transform: scale(1.4);
                            background: $red;
                            color: $white;
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
                        }
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    input{
                        display: none;
                    }
                    label{
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        width: 100%;
                        text-align: center;
                        padding: 1rem;
                        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
                    }
                    input:checked+label{
                        background: $red;
                        color: $white;
                    }
                }
            }
        }
        &__tiles{
            margin-top: 5rem;
            display: flex;
            flex-wrap: wrap;
            &>a{
                display: block;
                width: 30%;
                text-decoration: none;
                color: inherit;
                margin-right: 5%;
                margin-bottom: 5rem;
                &:nth-child(3n + 3){
                    margin-right: 0;
                }
                &:hover{
                    .img-container img{
                        transform: scale(1.05);
                    }
                    h3{
                        text-decoration: underline;
                    }
                    .region__scroll-content__tiles__single-tile{
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                    }
                }
            }
            &__single-tile{
                background: $light-white;
                box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
                .img-container{
                    width: 100%;
                    height: 200px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.2s;
                    }
                }
                .description{
                    padding: 1rem 2rem;
                    .details{
                        display: flex;
                        justify-content: space-between;
                        span{
                            font-size: 1rem;
                            text-transform: uppercase;
                        }
                    }
                    h3{
                       font-size: 2rem;
                       &+p{
                           font-size: 1.4rem;
                       }
                    }
                    .status{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 3rem;
                        &__arrow{
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: space-between;
                            img{
                                // transform: rotate(-45deg);
                                width: 30px;
                                // margin-right: 10px;
                            }
                        }
                        &__danger{
                            background: $red;
                            width: 50px;
                            height: 50px;
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}